@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-y: scroll;
	color-scheme: dark;
}

html,
body {
	@apply size-full;
}

body {
	@apply font-sans antialiased;
	@apply flex flex-col;
	@apply bg-zinc-900;
	@apply text-white/90;
}

header {
	@apply fixed top-0 left-0 right-0 z-50 py-5;
	@apply bg-gradient-to-r from-zinc-900/25 to-zinc-500/25;
	@apply backdrop-blur-sm saturate-200;
	@apply shadow-md;
}

main {
	@apply flex-1 py-32;
}

footer {
	@apply py-5 text-sm;
}

article {
	@apply max-w-full prose-invert prose-img:mx-auto prose-img:my-auto;
	@apply prose-headings:font-semibold prose-p:font-serif;
	@apply prose-headings:text-white;
	@apply space-y-6;
}

@layer utilities {
	article a {
		@apply font-sans text-accent-green underline underline-offset-2;
		@apply decoration-white/30;
		@apply transition-colors duration-300 ease-in-out;
	}
	article a:hover {
		@apply text-white;
		@apply decoration-white/50;
	}
	article h1 {
		@apply text-2xl font-bold text-accent-green;
		@apply mb-2 mt-2;
	}
	article h2 {
		@apply text-xl font-bold text-accent-green;
	}
}

@layer utilities {
	.badge {
		@apply inline-block px-2 py-1 mr-1;
		@apply text-sm font-semibold;
		@apply text-white;
		@apply border border-white/20;
		@apply rounded-md;
		@apply transition-colors duration-300 ease-in-out;
	}

	.badge:hover {
		@apply bg-white/5;
		@apply border-accent-green;
	}
}

.animate {
	@apply opacity-0 translate-y-3;
	@apply transition-all duration-500 ease-out;
	will-change: opacity, transform;
}

.animate.show {
	@apply opacity-100 translate-y-0;
}

html #back-to-top {
	@apply opacity-0 pointer-events-none;
	@apply transition-all duration-300 ease-in-out;
}

html.scrolled #back-to-top {
	@apply opacity-100 pointer-events-auto;
}
