---
import Container from "./Container.astro";
import Link from "./Link.astro";
import NavLink from "./NavLink.astro";
import { SITE } from "../consts";
---

<header>
	<Container>
		<div class="flex flex-wrap gap-y-2 justify-between">
			<Link href="/" underline={false}>
				<div class="font-semibold">
					{SITE.NAME}
				</div>
			</Link>
			<nav class="flex gap-4">
				<NavLink href="/blog"> blog </NavLink>
				<NavLink href="/work"> work </NavLink>
				<NavLink href="/projects"> projects </NavLink>
			</nav>
		</div>
	</Container>
</header>
